################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BarotraumaRadio/CopilotIndices/17.14.1091.29919
/.vs/BarotraumaRadio/DesignTimeBuild
/.vs/BarotraumaRadio/FileContentIndex
/.vs/BarotraumaRadio/v17
/.vs/ProjectEvaluation
/.vs/VSProjectSkeleton
/.vs
/Assets/obj/Debug/net6.0/ref/BarotraumaRadio.dll
/Assets/obj/Debug/net6.0/refint/BarotraumaRadio.dll
/Assets/obj/Debug/net6.0/Assets.AssemblyInfo.cs
/Assets/obj/Debug/net6.0/Assets.AssemblyInfoInputs.cache
/Assets/obj/Debug/net6.0/Assets.sourcelink.json
/Assets/obj/Debug/net6.0/BarotraumaRadio.dll
/Assets/obj/Debug/net6.0/BarotraumaRadio.pdb
/ClientProject/bin/Debug/net8.0/BarotraumaRadio.dll
/ClientProject/bin/Debug/net8.0/BarotraumaRadio.pdb
/ClientProject/bin/x64/Debug/net8.0/BarotraumaRadio.dll
/ClientProject/bin/x64/Debug/net8.0/BarotraumaRadio.pdb
/ClientProject/obj/Debug/net8.0/ref/BarotraumaRadio.dll
/ClientProject/obj/Debug/net8.0/refint/BarotraumaRadio.dll
/ClientProject/obj/Debug/net8.0/BarotraumaRadio.dll
/ClientProject/obj/Debug/net8.0/BarotraumaRadio.pdb
/ClientProject/obj/Debug/net8.0/LinuxClient.AssemblyInfo.cs
/ClientProject/obj/Debug/net8.0/LinuxClient.AssemblyInfoInputs.cache
/ClientProject/obj/Debug/net8.0/LinuxClient.sourcelink.json
/ClientProject/obj/Debug/net8.0/OSXClient.AssemblyInfo.cs
/ClientProject/obj/Debug/net8.0/OSXClient.AssemblyInfoInputs.cache
/ClientProject/obj/Debug/net8.0/OSXClient.sourcelink.json
/Assets/bin/Debug/net6.0/BarotraumaRadio.dll
/Assets/bin/Debug/net6.0/BarotraumaRadio.pdb
/ClientProject/obj/x64/Debug/net8.0/ref/BarotraumaRadio.dll
/ClientProject/obj/project.assets.json
/ClientProject/obj/project.nuget.cache
/ClientProject/obj/x64/Debug/net8.0/BarotraumaRadio.dll
/ClientProject/obj/x64/Debug/net8.0/BarotraumaRadio.pdb
/ClientProject/obj/x64/Debug/net8.0/refint/BarotraumaRadio.dll
/ClientProject/obj/x64/Debug/net8.0/WindowsClient.AssemblyInfo.cs
/ClientProject/obj/x64/Debug/net8.0/WindowsClient.AssemblyInfoInputs.cache
/ClientProject/obj/x64/Debug/net8.0/WindowsClient.sourcelink.json
/ServerProject/bin/x64/Debug/net8.0/BarotraumaRadio.dll
/ServerProject/bin/x64/Debug/net8.0/BarotraumaRadio.pdb
/ServerProject/bin/Debug/net8.0/BarotraumaRadio.dll
/ServerProject/bin/Debug/net8.0/BarotraumaRadio.pdb
/ServerProject/bin/Debug/net8.0/DedicatedServer.dll
/ServerProject/libvlc/win-x64/plugins/access/libaccess_concat_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libaccess_imem_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libaccess_mms_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libaccess_realrtsp_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libaccess_srt_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libaccess_wasapi_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libattachment_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libbluray-awt-j2se-1.3.2.jar
/ServerProject/libvlc/win-x64/plugins/access/libbluray-j2se-1.3.2.jar
/ServerProject/libvlc/win-x64/plugins/access/libcdda_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libdcp_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libdshow_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libdtv_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libdvdnav_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libdvdread_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libfilesystem_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libftp_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libhttps_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libhttp_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libidummy_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libimem_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/liblibbluray_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/liblive555_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libnfs_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/librist_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/librtp_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libsatip_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libscreen_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libsdp_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libsftp_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libshm_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libsmb_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libtcp_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libtimecode_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libudp_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libvcd_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libvdr_plugin.dll
/ServerProject/libvlc/win-x64/plugins/access/libvnc_plugin.dll
/ServerProject/libvlc/win-x64
/ServerProject/obj/Debug/net8.0/ref/BarotraumaRadio.dll
/ServerProject/obj/Debug/net8.0/BarotraumaRadio.dll
/ServerProject/obj/Debug/net8.0/BarotraumaRadio.pdb
/ServerProject/obj/Debug/net8.0/LinuxServer.AssemblyInfo.cs
/ServerProject/obj/Debug/net8.0/LinuxServer.AssemblyInfoInputs.cache
/ServerProject/obj/Debug/net8.0/LinuxServer.sourcelink.json
/ServerProject/obj/Debug/net8.0/OSXServer.AssemblyInfo.cs
/ServerProject/obj/Debug/net8.0/OSXServer.AssemblyInfoInputs.cache
/ServerProject/obj/Debug/net8.0/OSXServer.sourcelink.json
/ServerProject/obj/Debug/net8.0/refint/BarotraumaRadio.dll
/ServerProject/obj/x64/Debug/net8.0/BarotraumaRadio.dll
/ServerProject/obj/x64/Debug/net8.0/BarotraumaRadio.pdb
/ServerProject/obj/x64/Debug/net8.0/refint/BarotraumaRadio.dll
/ServerProject/obj/x64/Debug/net8.0/WindowsServer.AssemblyInfo.cs
/ServerProject/obj/x64/Debug/net8.0/WindowsServer.AssemblyInfoInputs.cache
/ServerProject/obj/x64/Debug/net8.0/WindowsServer.sourcelink.json
/ServerProject/obj/x64/Debug/net8.0/ref/BarotraumaRadio.dll
/ServerProject/obj/project.assets.json
/ServerProject/obj/project.nuget.cache
